@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --white: 0 0% 100%;
    --black: 0 0% 0%;
    --background-100: 0 0% 100%;
    --background-200: 0 0% 98%;
    --gray-100: 0 0% 95%;
    --gray-200: 0 0% 92%;
    --gray-300: 0 0% 90%;
    --gray-400: 0 0% 92%;
    --gray-500: 0 0% 79%;
    --gray-600: 0 0% 66%;
    --gray-700: 0 0% 56%;
    --gray-800: 0 0% 49%;
    --gray-900: 0 0% 40%;
    --gray-950: 0 0% 9%;
    --blue-700: 212 100% 48%;
    --blue-800: 212 100% 41%;
    --red-700: 358 75% 59%;
    --red-800: 358 70% 52%;
    --amber-700: 39 100% 57%;
    --amber-800: 35 100% 52%;
    --green-700: 131 41% 46%;
    --green-800: 132 43% 39%;
    --teal-700: 173 80% 36%;
    --teal-800: 173 83% 30%;
    --purple-700: 272 51% 54%;
    --purple-800: 272 47% 45%;
    --pink-700: 336 80% 58%;
    --pink-800: 336 74% 51%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background-100: 0 0% 4%;
    --background-200: 0 0% 0%;
    --gray-100: 0 0% 10%;
    --gray-200: 0 0% 12%;
    --gray-300: 0 0% 16%;
    --gray-400: 0 0% 18%;
    --gray-500: 0 0% 27%;
    --gray-600: 0 0% 53%;
    --gray-900: 0 0% 63%;
    --gray-950: 0 0% 93%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .text-gradient {
    @apply bg-gradient-to-b from-gray-950 via-gray-950 to-gray-900 bg-clip-text text-transparent;
  }

  .bg-gradient-purple-to-teal {
    @apply bg-gradient-to-br from-purple-700 to-teal-700;
  }

  .bg-radial-gradiant {
    @apply bg-[radial-gradient(ellipse_at_top,_var(--tw-gradient-stops))] from-purple-700 to-teal-700;
  }
}
